
body {
    background-image: url(./images/paper.jpeg);
    background-size: 100% 100%;
    font-family: sans-serif;
}

h1, h3, h4 {
    background-color: #454545;
    color: white;
    text-align: center;
    align-items: center;;
    font-family: Helvetica,  Arial, sans-serif;
}

.list {
    background-color: #454545;
    color: white;
    text-align: center;

}

img {
    border: 2px solid blue;
    height: 100%;
    margin: auto;
    
}

.image {
    display: flex;
    border: 2px solid green;
    height: 300px;
    width:  600px;
    margin: auto;
    box-sizing: border-box;
}

a {
    color: white;
}