@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    background-color: #2a2b36;
    background-size: 100% 100%;
    font-family: "Lexend Deca", sans-serif;
    color: #fff;
}

.heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 30%;
    margin-bottom: 25vw;
}

.arrange {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.picture {
    display: flex;
    height: 400px;
    width: auto;
    margin-bottom: 15vw
}

p.nice-para {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1, h3, h4 {
    color: white;
    text-align: center;
    align-items: center;;
    font-family: Helvetica,  Arial, sans-serif;
    margin: 10%;
    
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

ul.main {
    list-style: none;
    
}

li.links {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
    
}

li.links:hover {
    background-color: #555;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}



a {
    text-decoration: none;;
}


img {
    height: 100%;
    margin: auto;
    
}

.image {
    display: flex;
    height: 300px;
    width:  600px;
    margin: auto;git
    box-sizing: border-box;
}

a {
    color: white;
}